<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add account</title>
</head>
<body>

<h1>Form</h1>

<a href="/">home</a>
<a href="/accounts">back to accounts</a>

<hr>
<div>
    <form action="/accounts/add" method="post" >
        <input type="text" name="type" placeholder="Input type of account: C - credit, D - debit"><br>
        <input type="text" name="amount" placeholder="Input amount of money"><br>
        <ul th:each="el : ${banks}">
            <input type="radio" th:id="${el.id}" name="bankId" th:value="${el.id}">
            <label th:for="${el.id}" th:text="${el.name}"/>
        </ul>
        <input type="submit" value="Submit"><br>
        <input type="reset"><br>
    </form>
</div>

</body>
</html>