<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home page</title>
</head>
<body>
<h1>Welcome to main page</h1>
<div>Status: in progress</div>
<a href="/accounts">Accounts</a>
<a href="/accounts/add">Add account</a>
<a href="/banks/add">Add bank</a>
<a href="registration">Registration</a>
<a href="/login">Sign In</a>
<a href="/logout">Sign Out</a>
</body>

<hr>

<footer>
  Authors:
  <ul type="circle">
    <li>Kalinin Iwan</li>
    <li>Zaretskaya Mariya</li>
  </ul>
</footer>
</html>