<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home page</title>
</head>
<body>
<h1>Welcome to main page</h1>
<div>Status: demo version is ready to use</div>
<a href="/accounts">Accounts</a><br>
<a href="/accounts/add">Add account</a><br>
<a href="/banks">Banks</a><br>
<a href="/banks/add">Add bank</a><br>
<a href="registration">Registration</a><br>
<a href="/login">Sign In</a><br>
<a href="/logout">Sign Out</a><br>
</body>

<hr>

<footer>
  Author:
  <ul type="circle">
    <li>Kalinin Iwan</li>
  </ul>
</footer>
</html>